body {
  background-color: #fff;
  color: #fff;
}

.container {
  padding: 40px 80px;
  text-align: center;
}

.line {
  width: 1px;
  height: 60px;
  background-color: #d2b77f;
  margin: 20px auto;
}

.heading {
  font-size: 36px;
  font-weight: 500;
  color: #1c1c1c;
}

.menus {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.menus div {
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
}

.menus .active {
  color: #d2b77f;
  position: relative;
}

.menus .active::after {
  content: '';
  width: 5px;
  height: 5px;
  background: #d2b77f;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1c1c1c;
  padding: 50px 30px;
  color: #fff;
}

.column {
  flex: 1;
  padding: 0 30px;
  box-sizing: border-box;
}

.column h3 {
  color: #d2b77f;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
  white-space: nowrap;
  width: 100%;
  gap: 10px;
}

.item-line {
  flex-grow: 1;
  border-bottom: 1px dotted #555;
  margin: 0 10px;
  height: 0;
}

.item-title {
  color: #fff;
  white-space: nowrap;
  flex-shrink: 0;
}

.item-price {
  white-space: nowrap;
  flex-shrink: 0;
}

.item-desc {
  font-size: 12px;
  text-align: left;
  color: #b4a382;
  margin-bottom: 20px;
  margin-top: 2px;
  line-height: 1.4;
}

.snack-section {
  background-color: #cfa869;
  padding: 30px;
  margin-top: 40px;
  color: #1c1c1c;
}

.snack-section h3 {
  color: #1c1c1c;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
}

.snack-section .item-title {
  color: white;
}

.snack-section .item-price {
  color: white;
}

.snack-section .item-line {
  border-color: white;
}

.snack-section .item-desc {
  color: #444;
}
